.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/_transparant_bg.gif');
  .start {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }

  .preview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .frames {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .frame_wrapper {
    border: 1px solid transparent;
    cursor: pointer;
  }
  .frame_wrapper:hover {
    border: 1px solid #41acde;
    background-color: rgba(65, 172, 222, 0.2);
  }
  .frame_wrapper--active {
    border: 1px solid #41acde;
    background-color: rgba(65, 172, 222, 0.3);
  }
  .frame_img {
    width: auto !important;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
  }
  .frame_info {
    font-size: 12px;
    text-align: center;
  }

  .toolbar_bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    background-color: #f5f5f5;
    font-size: 12px;
  }
  .toolbar_bottom_colors {
    display: flex;
  }
  .toolbar_bottom_color {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 8px;
    }
    // &.toolbar_bottom_color--active {
    //   box-shadow: 0 0 2px 2px #41acde;
    // }
  }

  .toolbar_bottom_lf {
    position: absolute;
    top: 0;
    left: 24px;
    height: 100%;
  }

  .toolbar_bottom_rt {
    position: absolute;
    top: 0;
    right: 24px;
    height: 100%;
  }
  .toolbar_bottom_rt_suit {
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #40a9ff;
    }
  }

  .toolbar_bottom_center {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    margin-left: -56px;
  }
}
